In [1]:
import pandas as pd

In [5]:
pd.read_csv('../data/cleaned_data.csv', index_col=0)

,CVDCRHD4,TOLDHI3,_RFBMI5,SMOKE100,CVDSTRK3,_TOTINDA,_FRTLT1A,_VEGLT1A,_RFDRHV7,MEDCOST1,...,INCOME3_2.0,INCOME3_3.0,INCOME3_4.0,INCOME3_5.0,INCOME3_6.0,INCOME3_7.0,INCOME3_8.0,INCOME3_9.0,INCOME3_10.0,INCOME3_11.0
0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,...,0,0,0,1,0,0,0,0,0,0
1,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0,1,0,0,0,0,0,0,0,0
2,0.0,1.0,1.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,...,0,0,0,0,0,1,0,0,0,0
3,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,1,0,0,0,0,0
4,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
284874,0.0,1.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,...,0,1,0,0,0,0,0,0,0,0
284875,0.0,0.0,0.0,1.0,0.0,1.0,1.0,1.0,0.0,1.0,...,0,0,0,1,0,0,0,0,0,0
284876,0.0,1.0,1.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,...,0,0,0,0,0,0,0,0,1,0
284877,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,...,0,0,0,0,1,0,0,0,0,0
284878,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0,0,0,0,1,0,0,0,0,0